@use "src/styles/variables" as v;
@use "src/styles/fonts" as fonts;
@use "src/styles/mixins/page-background" as m;

$page-name: "crew";

.wrapper {
  padding: 24px;
  text-align: center;

  @include m.page-background($page-name);

  &::before {
    opacity: 0.25;
  }

  // TODO: Centralize this code for the 3 pages - Issue #73
  @media screen and (min-width: v.$tablet) {
    padding: 0;
    padding-top: 40px;
    margin-inline: auto;
  }

  @media screen and (min-width: v.$desktop) {
    max-width: 1110px;
    padding-top: 76px;
    text-align: left;
  }
}

// TODO: Centralize this code for the 3 pages - Issue #73
.wrapper h2 {
  @media screen and (min-width: v.$tablet) {
    text-align: left;
    margin-left: 40px;
  }

  @media screen and (min-width: v.$desktop) {
    flex-basis: 100%;
    margin: 0;
  }
}

.wrapper article {
  display: grid;
  place-items: center;
  grid-template-areas:
    "photo"
    "divider"
    "pagination"
    "details";
  grid-template-rows: 222px auto auto auto;
  margin-top: 32px;

  @media screen and (min-width: v.$tablet) {
    grid-template-areas:
      "details"
      "pagination"
      "photo";
    row-gap: 40px;
    grid-template-rows: auto auto minmax(222px, 528px);
    margin-top: revert;
  }

  @media screen and (min-width: v.$desktop) {
    grid-template-areas:
      "details"
      "pagination";
    grid-template-rows: 545px 1fr;
    position: relative;
    place-items: revert;
    height: calc(100dvh - 130px - 80px);
  }
}

.pagination {
  grid-area: pagination;
}

.details {
  grid-area: details;
}

.photo-wrapper {
  grid-area: photo;
  height: 100%;
  object-fit: contain;

  @media screen and (min-width: v.$desktop) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.photo {
  max-height: 100%;

  @media screen and (min-width: v.$desktop) {
    height: initial;
  }
}

.divider {
  grid-area: divider;
  width: 100%;
  height: 1px;
  border: none;
  background-color: v.$ship-grey;
  margin-bottom: 32px;

  @media screen and (min-width: v.$tablet) {
    display: none;
  }
}

.rank {
  @include fonts.bellefair;
  color: v.$white;
  opacity: 0.4951;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-block: 32px 8px;

  @media screen and (min-width: v.$tablet) {
    opacity: 0.4994;
    font-size: 1.5rem;
    margin-block: 60px 0;
  }

  @media screen and (min-width: v.$desktop) {
    opacity: 0.5042;
    font-size: 2rem;
    margin-top: 154px;
  }
}

.description-wrapper {
  @media screen and (min-width: v.$tablet) {
    width: 37rem;
    text-wrap: balance;
  }

  @media screen and (min-width: v.$desktop) {
    width: 27.75rem;
    text-wrap: revert;
  }
}

.spacer {
  height: 16px;

  @media screen and (min-width: v.$tablet) {
    height: 6px;
  }
}
