@use "src/styles/variables" as v;
@use "src/styles/mixins/page-background" as m;

$page-name: "destination";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  @include m.page-background($page-name);

  @media screen and (min-width: v.$tablet) {
    padding: 40px 0;
    margin-inline: auto;
  }

  @media screen and (min-width: v.$desktop) {
    max-width: 1110px;
    padding-block: 76px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.wrapper h2 {
  @media screen and (min-width: v.$tablet) {
    align-self: flex-start;
    margin-left: 40px;
  }

  @media screen and (min-width: v.$desktop) {
    flex-basis: 100%;
    margin: 0;
  }
}

.wrapper img {
  width: 170px;
  aspect-ratio: 1 / 1;
  margin-block: 32px 26px;

  @media screen and (min-width: v.$tablet) {
    width: 300px;
    margin-block: 60px 54px;
  }

  @media screen and (min-width: v.$desktop) {
    width: 445px;
    margin-block: 98px 0;
    margin-left: 64px;
  }
}

.info {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;

  @media screen and (min-width: v.$desktop) {
    display: revert;
    max-width: calc(445 / 16 * 1rem);
    margin-bottom: 6px;
  }
}

.spacer {
  height: 20px;

  @media screen and (min-width: v.$tablet) {
    height: 32px;
  }

  @media screen and (min-width: v.$desktop) {
    height: 37px;
  }
}

.wrapper h3 {
  @media screen and (min-width: v.$tablet) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: v.$desktop) {
    margin-bottom: 14px;
  }
}

.description-wrapper {
  @media screen and (min-width: v.$tablet) {
    width: calc(573 / 16 * 1rem);
  }

  @media screen and (min-width: v.$desktop) {
    width: fit-content;
  }
}

.details {
  display: grid;
  grid-template-areas:
    "distance"
    "travel-time";
  row-gap: 32px;
  justify-items: center;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid v.$ship-grey;

  & :first-child {
    grid-area: distance;
  }

  & :last-child {
    grid-area: travel-time;
  }

  @media screen and (min-width: v.$tablet) {
    grid-template-areas: "distance travel-time";
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    padding-top: 28px;
  }

  @media screen and (min-width: v.$desktop) {
    justify-items: start;
    margin-top: 54px;
  }
}
