@use 'src/styles/variables' as v;
@use 'src/styles/fonts' as fonts;
@use 'src/styles/mixins/responsive-font' as m;

.wrapper {
  width: fit-content;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: v.$desktop) {
    text-align: initial;
  }
}

.wrapper h4 {
  @include fonts.barlow-condensed;
  $font-size: 14;
  $line-height: 17;
  @include m.responsive-font($font-size, $line-height);
  color: v.$lilac;
  font-weight: 400;
  letter-spacing: 0.1475rem;
  margin-bottom: 12px;
}

.wrapper p {
  $font-size: 28;
  $line-height: 32;
  @include m.responsive-font($font-size, $line-height);
  color: v.$white;
}