@use 'src/styles/variables' as v;

$assets-path: './assets/home/';
$background-mobile: $assets-path + 'background-home-mobile.jpg';
$background-tablet: $assets-path + 'background-home-tablet.jpg';
$background-desktop: $assets-path + 'background-home-desktop.jpg';

.wrapper {
  $side-padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px $side-padding;
  gap: 81px;
  max-width: 1110px;
  box-sizing: content-box;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url($background-mobile);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 450px;
}

@media screen and (min-width: v.$tablet) {
  .wrapper {
    padding-block: 106px 90px;
    gap: 156px;
    margin-inline: auto;

    &::before {
      background-image: url($background-tablet);
    }
  }

  .introduction {
    gap: 24px;
  }
}

@media screen and (min-width: v.$desktop) {
  .wrapper {
    padding-block: 251px 131px;
    flex-direction: row;
    justify-content: space-between;
    gap: unset;

    &::before {
      background-image: url($background-desktop);
    }
  }

  .introduction {
    align-items: flex-start;
  }

  .explore {
    align-self: flex-end;
  }
}