/* Colors */
$charcoal: #0b0d17;
$lilac: #d0d6f9;
$white: #ffffff;
$grey: #979797;
$ship-grey: #383b4b;

// Opacity
$opacity-1: 50%;
$opacity-2: 25%;
$opacity-3: 10.36%;

/* Typography */
// TODO: Consider moving this into a Typography component
// Headings
$fs-heading-1: 9.375rem;
$fs-heading-2: 6.25rem;
$fs-heading-3: 3.5rem;
$fs-heading-4: 2rem;
$fs-heading-5: 1.75rem;
$ls-heading-5: 4.75;

// Subheadings
$fs-subheading-1: 1.75rem;
$fs-subheading-2: 0.875rem;
$ls-subheading-2: 2.35;

// Nav text
$fs-nav-text: 1rem;
$fs-secondary-nav-text: 0.875rem;
$ls-nav-text: 0.1688rem;

// TODO: Body text depends on viewport size

/* Viewport */
$tablet: 600px;
$desktop: 1300px;
// $large-desktop: 1440px;
