@use 'src/styles/variables' as v;
@use 'src/styles/fonts' as fonts;
@use 'src/styles/mixins/responsive-font' as m;

.description {
  $font-size: 15;
  $line-height: 25;

  @include fonts.barlow;
  @include m.responsive-font($font-size, $line-height);
  color: v.$lilac;
  text-align: center;
  word-break: keep-all;
}

@media screen and (min-width: v.$tablet) {
  .description {
    $font-size: 16;
    $line-height: 28;
    @include m.responsive-font($font-size, $line-height);
  }
}

@media screen and (min-width: v.$desktop) {
  .description {
    $font-size: 18;
    $line-height: 32;
    @include m.responsive-font($font-size, $line-height);
    text-align: initial;
  }
}