@use 'src/styles/variables' as v;
@use 'src/styles/fonts' as fonts;

// TODO: It would be nice to have a function which return line-height calculation instead of constantly repeating it
.description {
  $font-size: 15;
  $line-height: 25;

  @include fonts.barlow;
  font-size: 0.9375rem;
  line-height: calc($line-height / $font-size);
  color: v.$lilac;
  text-align: center;
}

@media screen and (min-width: v.$tablet) {
  .description {
    $font-size: 16;
    $line-height: 28;

    font-size: 1rem;
    line-height: calc($line-height / $font-size);
  }
}

@media screen and (min-width: v.$desktop) {
  .description {
    $font-size: 18;
    $line-height: 32;

    font-size: 1.125rem;
    line-height: calc($line-height / $font-size);
    text-align: initial;
  }
}