@use 'src/styles/variables' as v;
@use 'src/styles/fonts' as fonts;

@function convertPxToRem($px) {
  @return calc($px / 16 * 1rem);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  min-height: convertPxToRem(28);
}

.nav ol {
  display: flex;
  gap: convertPxToRem(26);
  padding: 0;
  width: inherit;

  & li {
    @include fonts.barlow-condensed;
    list-style-type: none;
    text-transform: uppercase;
    color: v.$white;
    font-size: convertPxToRem(14);
    letter-spacing: convertPxToRem(2.36);
  }
}

.bar {
  width: 36px;
  height: 3px;
  margin-top: 8px;
  background-color: v.$white;
}