@use "src/styles/variables" as v;
@use "src/styles/fonts" as fonts;

.wrapper {
  padding: 0;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.button {
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1 / 1;
  border: 1px solid hsl(0 0% 100% / 0.25);
  border-radius: 50%;
  display: grid;
  place-content: center;
  @include fonts.bellefair;
  color: v.$white;
  font-size: 1rem;
  background: transparent;
  transition: all 0.3s ease-in-out;

  &[aria-pressed="true"] {
    color: v.$charcoal;
    background-color: v.$white;
    border-color: v.$white;
  }

  @media (hover: hover) {
    &:hover {
      border-color: v.$white;
    }
  }
}

@media screen and (min-width: v.$tablet) {
  .button {
    width: 60px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: v.$desktop) {
  .wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .button {
    width: 80px;
    font-size: 2rem;
  }
}
