@use 'src/styles/variables' as v;
@use 'src/styles/fonts' as fonts;
@use 'src/styles/mixins/responsive-font' as m;

.subtitle {
  @include fonts.barlow-condensed;
  $font-size: 16;
  $line-height: 19;
  @include m.responsive-font($font-size, $line-height);
  font-weight: 400;
  letter-spacing: 0.1688em;
  color: v.$lilac;
  text-transform: uppercase;

  span {
    display: none;
  }

  &--with-prefix {
    color: v.$white;

    span {
      display: initial;
      font-weight: 700;
      margin-right: 18px;
      opacity: v.$opacity-2;
    }
  }
}

@media screen and (min-width: v.$tablet) {
  .subtitle {
    $font-size: 20;
    $line-height: 24;
    @include m.responsive-font($font-size, $line-height);
  }
}

@media screen and (min-width: v.$desktop) {
  .subtitle {
    $font-size: 28;
    $line-height: 34;
    @include m.responsive-font($font-size, $line-height);
  }
}