@use "src/styles/variables" as v;
@use "src/styles/fonts" as fonts;

@function convertPxToRem($px) {
  @return calc($px / 16 * 1rem);
}

.pagination-wrapper {
  position: relative;
}

.pagination {
  display: flex;
  gap: convertPxToRem(26);
  height: convertPxToRem(28);
}

.destination {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  height: 100%;
  @include fonts.barlow-condensed;
  text-transform: uppercase;
  color: v.$white;
  font-size: convertPxToRem(14);
  letter-spacing: convertPxToRem(2.36);
  background: none;
  border: none;
  padding: 0;
}

// TODO: Continue fixing the styles for the pagination in larger screens
@media screen and (min-width: v.$tablet) {
  .pagination-wrapper {
    min-height: convertPxToRem(34);
  }
}

.pagination-wrapper ol {
  display: flex;
  gap: convertPxToRem(26);
  padding: 0;
  width: inherit;

  & li {
    cursor: pointer;
    @include fonts.barlow-condensed;
    list-style-type: none;
    text-transform: uppercase;
    color: v.$white;
    font-size: convertPxToRem(14);
    letter-spacing: convertPxToRem(2.36);
  }
}

@media screen and (min-width: v.$tablet) {
  .pagination-wrapper ol {
    gap: convertPxToRem(36);

    & li {
      font-size: 1rem;
      letter-spacing: convertPxToRem(2.7);
    }
  }
}

.bar {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: v.$white;
}
