@use '../variables' as v;

@mixin page-background($default-image, $image-tablet, $image-desktop) {
  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url($default-image);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media screen and (min-width: v.$tablet) {
      background-image: url($image-tablet);
    }

    @media screen and (min-width: v.$desktop) {
      background-image: url($image-desktop);
    }
  }
}