$svg-size: 24px;

.menu-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  position: relative;

  // Ensure the button has a larger clickable area
  &::before {
    content: "";
    position: absolute;
    inset: calc($svg-size / 2 * -1);
  }
}

.svg {
  height: $svg-size;
}
