@use 'src/styles/variables' as v;

.nav-container {
  position: relative;
  min-width: 24px;
  min-height: 21px;

  & button {
    position: absolute;
    inset: 0 0 0 auto;
    height: fit-content;
    z-index: 1;
  }
}

@media screen and (min-width: v.$tablet) {
  .nav-container button {
    display: none;
  }
}