@use "src/styles/variables" as v;
@use "src/styles/fonts" as fonts;

.button {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  @include fonts.bellefair;
  font-size: 1.25rem;
  color: v.$charcoal;
  text-transform: uppercase;
  letter-spacing: 0.07813rem;
  line-height: normal;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 9999px;
  background-color: v.$white;

  &:active {
    &::before {
      opacity: v.$opacity-3;
      box-shadow: 0 0 0 2.75rem v.$white;
      border-radius: 9999px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: v.$white;
    opacity: 0;
    box-shadow: 0 0 0 0 v.$white;
    border-radius: 9999px;
    transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}

.circle {
  aspect-ratio: 1 / 1;
  width: 9.375rem;
  padding: 4.25rem 0 3.69rem;
}

.pill {
  padding: 17px 48px 15px;

  &:active {
    &::before {
      box-shadow: 0 0 0 1.75rem v.$white;
    }
  }
}

@media screen and (min-width: v.$tablet) {
  .button {
    font-size: v.$fs-heading-4;
    letter-spacing: 0.125rem;
    padding: 0;

    &:active {
      &::before {
        box-shadow: 0 0 0 4.125rem v.$white;
      }
    }
  }

  .circle {
    width: 15.125rem;
  }

  .pill {
    padding: 22px 50px 20px;

    &:active {
      &::before {
        box-shadow: 0 0 0 2.25rem v.$white;
      }
    }
  }
}

@media screen and (min-width: v.$desktop) {
  .button {
    align-self: flex-end;

    &:is(:active, :hover) {
      &::before {
        opacity: v.$opacity-3;
        box-shadow: 0 0 0 5.5rem v.$white;
      }
    }

    &::before {
      transition-duration: 0.5s;
    }
  }

  .circle {
    width: 17.125rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .button {
    &::before {
      display: none;
      transition: none;
    }
  }
}
